<!DOCTYPE html>
<html ng-app="SoundCloudApp" >
<head>
	<title>SoundCloud Player</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body ng-controller="MainController" >
 <div class="navbar-fixed">
	 <nav>
	    <div class="nav-wrapper red darken-1">
	      <form ng-submit="getUser(searchText)">
	        <div class="input-field">
	          <input placeholder="Search for artists by username" id="search" type="search" ng-model="searchText" required >
	          <label for="search"><i class="mdi-action-search"></i></label>
	          <i class="mdi-navigation-close"></i>
	        </div>
	      </form>
	    </div>
	  </nav>
  </div>
  <div ng-bind-html="player_html"></div>
		<div class="container">
			<div class="card inline-block" ng-repeat="songs in userData">
        <div class="z-depth-3 card-image waves-effect waves-block waves-light">
          <img class="activator" ng-src="{{songs.artwork_url}}" ng-click="play(songs.permalink_url)">
        </div>
      </div>
    </div>
  </div>
  <div ng-view></div>        
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/mainService.js"></script>
<script type="text/javascript" src="/js/mainController.js"></script>
</body>
</html>